@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

body {
	background-color: black;
}

#main {
	background-color: black;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-width: 4px;
	border-style: solid;
	border-image: linear-gradient(to bottom, #1BABED, #5A36C0) 1;
}

#nav {
	background-color: pink;
	line-height: 5px;
}

#libs {
	border-width: 4px;
	border-style: solid;
	border-image: linear-gradient(to bottom, #1BABED, #5A36C0) 1;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 85%;
}

#libs > h1 {
	font-family: 'Bowlby One SC', cursive;
	font-size: 50px;
	text-align: center;
	color: white;
}

a#storyLinks:link {
	text-decoration: none;
	font-family: 'Bowlby One SC', cursive;
	font-size: 50px;
	padding-left: 100px;
	padding-right: 100px;
}

a#storyLinks:hover {
	font-size: 0;
}

a#storyLinks:hover:after {
	content: attr(data-hover);
	font-size: 55px;
	padding: 15px;
	background-color: #2b1056;
	padding: 10px;
	color: white;
	-webkit-text-stroke: 2px black;
}

li {
	font-size: 24px;
	font-family: Arial Black;
	list-style-type: none;
	color: white;
}

input[type=text]{
	background-color: #F8EDF9;
	border: 1px solid black;
}

section {
	margin-left: 300px;
	padding-bottom: 20px;
}

section:after {
	content: "";
	clear: both;
	display: table;
	text-align:center;
	width: 400px;
	margin: 0 auto;
}

#create-button , a#return , input#restart {
	text-decoration: none;
	font-family: Arial;
	color: white;
	font-size: 20px;
	margin-top: 20px;
	padding: 10px 35px 10px 35px;
	border: 2px solid black;
}

#create-button {
	background-color: #212354;
}

a#return {
	background-color: #004021;
}

input#restart {
	background-color: #400001;
	display: inline;
}

#storyLine {
	color: white;
	text-transform:uppercase;
	line-height: 2;
	padding-left: 50px;
	padding-right: 50px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}


.column {
	float: left;
	width: 50%;
}

.row {
	margin-left: auto;
    	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: auto;
	padding-right: auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
	padding: 5px;
}